#parent {
    height: 200px;
    width: 200px;
    color: white;
    font-size: 30px;
    font-weight: 900;
}

#red {
    left: 0px;
    top: 0px;
    background-color: red;
}

#green {
    right: 0px;
    top: 0px;
    background-color: green;
}

#purple {
    right: 0px;
    top: 0px;
    background-color: purple;
}

#blue {
    left: 0px;
    top: 0px;
    background-color: blue;
}

#footer {
    left: 0px;
    top: 0px;
    background-color: gray;
}