.move-box {
    width: 100px;
    height: 100px;
    background: teal;
    position: relative;
    animation: moveRight 2s linear infinite;
}

@keyframes moveRight {
    from { left: 0; }
    to { left: 300px; }
}
