#table1, #table1 th, #table1 td{
    text-align: center;
    border-collapse: collapse;
}

#table1 tr:nth-child(1){
    background-color: green;
}

#table1 tr:nth-child(3), #table1 tr:nth-child(5){
    background-color: gray;
}