#div-1:hover {
    transform: rotate(-22deg);
}

#div-1 {
    text-align: center;
    width: 500px;
    height: 250px;
    background-color: black;
    border-radius: 10px 50px 30px 25%;
    border: 2px;
}
