#div-1 {
    width: 200px;
    height: 200px;
    background-color: yellow;
    border-radius: 50%;
    transition: transform 3s ease 5s;
  }
  
  #div-1:hover {
    transform: scale(3) translateY(-100px);
  }
  
@keyframes animator1 {
  from {
    transform: scale(1) translateX(0);
  }

  20% {
    transform: scale(1) translateX(100);
  }

  40% {
    transform: scale(1) translateX(200);
  }

  60% {
    transform: scale(1) translateX(300);
  }

  80% {
    transform: scale(1) translateX(400);
  }

  to {
    transform: scale(1) translateX(500);
  }
}