#div-1 {
    width: 200px;
    height: 200px;
    background-color: yellow;
    border-radius: 50%;
    transition: transform 3s ease 5s;
  }
  
  #div-1:hover {
    transform: scale(3) translateY(-100px);
  }