<<<<<<< HEAD
p {
    color: red;
}

button {
    background-color: red;
}

h1 {
    text-align: right;
=======
p {
    color: red;
}

button {
    background-color: red;
}

h1 {
    text-align: right;
>>>>>>> a714eb2f6a14030f9738df518c7c73b40fbf975d
}