<<<<<<< HEAD
p,button {
    color: white;
    background-color: gray;
}
h2 {
    text-align: center;
=======
p,button {
    color: white;
    background-color: gray;
}
h2 {
    text-align: center;
>>>>>>> a714eb2f6a14030f9738df518c7c73b40fbf975d
}