#div-1 {
    text-align: center;
    width: 300px;
    height: 150px;
    background-color: black;
    border-radius: 10px 50px 30px 25%;
    border: 2px;
}

#div-1:hover {
    transform: rotate(-30deg);
}